.page-start {
  .swiper-slide img {
    max-height: inherit;
  }
  ion-slides {
    width: inherit;
    height: inherit;
  }
  button {
    position: absolute;
    background: #FFFFFF;
    bottom: 0;
    color: #5c45c3;
    height: 10%;
    margin: 0;
  }
  .slide4 {
    .slide-zoom {
      height: 100vh;
    }
  }
  .scroll-content {
    overflow-y: hidden;
  }
}
