// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header {
  .toolbar-background {
    background-color: $background_header;
  }
  .toolbar-title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
}

ion-content {
  background-color: $background_body !important;
}

.item-block {
  background-color: transparent;
}

.button-full, .button-full.activated {
  background-color: $background_header;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: rgb(255, 255, 255);
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: $background_header;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
  color: $background_header;

}